

.jejum {
  width               : 100%;
  min-width           : 320px;
  height              : 100vh;
  min-height          : 568px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(250, 248, 243, 1.0);
  opacity             : 1.0;
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.jejum .mainbackground {
  background-color    : rgba(247, 248, 249, 1.0);
  top                 : 0px;
  height              : 100%;
  width               : 100%;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .group {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : -12px;
  height              : 144px;
  width               : 239px;
  margin-top          : -70px;
  margin-left         : 12px;
  position            : relative;
  margin-bottom       : 70px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .group-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .group-layout-container > * {
  pointer-events      : auto;
}
.jejum .group .a0729 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(84, 94, 117, 0.3);
  text-align          : left;
  letter-spacing      : 20.9px;
  line-height         : 37.0px;
}
.jejum .group .a0730 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 54px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(84, 94, 117, 1.0);
  text-align          : left;
  letter-spacing      : 20.9px;
  line-height         : 37.0px;
}
.jejum .group .a0731 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 108px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 30.0px;
  color               : rgba(84, 94, 117, 0.3);
  text-align          : left;
  letter-spacing      : 20.9px;
  line-height         : 37.0px;
}
.jejum .div {
  background-color    : rgba(255,255,255,0.0);
  top                 : 74px;
  height              : 3px;
  width               : calc(100.00% + 1px);
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .div .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 1px;
  height              : 2px;
  width               : 322px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .div .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 1px;
  width               : calc(100.00% - 1px);
  position            : absolute;
  margin              : 0;
  left                : 1px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .content {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : 2px;
  height              : 12px;
  width               : 239px;
  margin-top          : 142px;
  margin-left         : -2px;
  position            : relative;
  margin-bottom       : -142px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .content-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .content-layout-container > * {
  pointer-events      : auto;
}
.jejum .content .label1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : auto;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Light", Helvetica, Arial, serif;
  font-size           : 10.0px;
  color               : rgba(143, 155, 180, 1.0);
  text-align          : center;
  line-height         : 12.0px;
}
.jejum .content .label1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .content .label1-layout-container > * {
  pointer-events      : auto;
}
.jejum .cta {
  background-color    : rgba(255,255,255,0.0);
  height              : 40px;
  width               : 272px;
  margin-top          : 98px;
  position            : relative;
  margin-bottom       : -98px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .cta-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .cta-layout-container > * {
  pointer-events      : auto;
}
.jejum .cta .rectangle {
  background-color    : rgba(249, 128, 125, 1.0);
  position            : relative;
  height              : 40px;
  width               : 272px;
  border-radius       : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .cta .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .cta .rectangle-layout-container > * {
  pointer-events      : auto;
}
.jejum .cta .label1 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  width               : auto;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Light", Helvetica, Arial, serif;
  font-size           : 18.0px;
  color               : rgba(255, 255, 255, 1.0);
  text-align          : center;
  line-height         : 22.0px;
}
.jejum .cta .label1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .cta .label1-layout-container > * {
  pointer-events      : auto;
}
.jejum .view1 {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : 37px;
  height              : 48px;
  width               : 48px;
  margin-top          : 236px;
  margin-left         : -37px;
  position            : relative;
  margin-bottom       : -236px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view1-layout-container > * {
  pointer-events      : auto;
}
.jejum .view1 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 48px;
  width               : 48px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view1 .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view1 .rectangle-layout-container > * {
  pointer-events      : auto;
}
.jejum .view1 .jejum1 {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : 0px;
  height              : auto;
  width               : auto;
  margin-top          : 12px;
  margin-left         : -0px;
  position            : relative;
  margin-bottom       : -12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 7.0px;
  color               : rgba(249, 128, 125, 1.0);
  text-align          : center;
  line-height         : 8.0px;
}
.jejum .view1 .jejum1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view1 .jejum1-layout-container > * {
  pointer-events      : auto;
}
.jejum .view1 .vector1 {
  background-color    : rgba(255,255,255,0.0);
  height              : 18px;
  width               : 18px;
  margin-top          : -6px;
  position            : relative;
  margin-bottom       : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view1 .vector1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view1 .vector1-layout-container > * {
  pointer-events      : auto;
}
.jejum .view1 .vector1 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 496px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 24px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view2 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 48px;
  width               : 48px;
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.jejum .view2 .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view2 .rectangle-layout-container > * {
  pointer-events      : auto;
}
.jejum .view2 .passos {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : -0px;
  height              : auto;
  width               : auto;
  margin-top          : 12px;
  margin-left         : 0px;
  position            : relative;
  margin-bottom       : -12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Bold", Helvetica, Arial, serif;
  font-size           : 7.0px;
  color               : rgba(143, 155, 180, 1.0);
  text-align          : center;
  line-height         : 9.0px;
}
.jejum .view2 .passos-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view2 .passos-layout-container > * {
  pointer-events      : auto;
}
.jejum .view2 .vector {
  background-color    : rgba(255,255,255,0.0);
  height              : 18px;
  width               : 14px;
  margin-top          : -6px;
  position            : relative;
  margin-bottom       : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view2 .vector-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view2 .vector-layout-container > * {
  pointer-events      : auto;
}
.jejum .view2 .vector .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .title {
  background-color    : rgba(255,255,255,0.0);
  top                 : 32px;
  height              : 24px;
  width               : 61px;
  position            : absolute;
  margin              : 0;
  left                : 32px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .title .jejum1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue-Medium", Helvetica, Arial, serif;
  font-size           : 20.0px;
  color               : rgba(84, 94, 117, 1.0);
  text-align          : left;
  letter-spacing      : 1.0px;
  line-height         : 25.0px;
}
.jejum .view3 {
  background-color    : rgba(255,255,255,0.0);
  margin-right        : -111px;
  height              : 48px;
  width               : 48px;
  margin-top          : 236px;
  margin-left         : 111px;
  position            : relative;
  margin-bottom       : -236px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view3-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view3-layout-container > * {
  pointer-events      : auto;
}
.jejum .view3 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 48px;
  width               : 48px;
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.jejum .view3 .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view3 .rectangle-layout-container > * {
  pointer-events      : auto;
}
.jejum .view3 .perfil {
  background-color    : rgba(255,255,255,0.0);
  height              : auto;
  width               : auto;
  margin-top          : 11px;
  position            : relative;
  margin-bottom       : -11px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 7.0px;
  color               : rgba(143, 155, 180, 1.0);
  text-align          : center;
  line-height         : 8.0px;
}
.jejum .view3 .perfil-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view3 .perfil-layout-container > * {
  pointer-events      : auto;
}
.jejum .view3 .vector3 {
  background-color    : rgba(255,255,255,0.0);
  height              : 18px;
  width               : 18px;
  margin-top          : -7px;
  position            : relative;
  margin-bottom       : 7px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view3 .vector3-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view3 .vector3-layout-container > * {
  pointer-events      : auto;
}
.jejum .view3 .vector3 .shape {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : 18px;
  width               : 18px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view4 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 496px;
  height              : 48px;
  width               : 48px;
  position            : absolute;
  margin              : 0;
  left                : 173px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view4 .rectangle {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 48px;
  width               : 48px;
  transform           : rotate(0deg);
  opacity             : 0.1;
}
.jejum .view4 .rectangle-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view4 .rectangle-layout-container > * {
  pointer-events      : auto;
}
.jejum .view4 .label1 {
  background-color    : rgba(255,255,255,0.0);
  height              : auto;
  width               : auto;
  margin-top          : 12px;
  position            : relative;
  margin-bottom       : -12px;
  transform           : rotate(0deg);
  opacity             : 1.0;
  font-family         : "HelveticaNeue", Helvetica, Arial, serif;
  font-size           : 7.0px;
  color               : rgba(143, 155, 180, 1.0);
  text-align          : center;
  line-height         : 8.0px;
}
.jejum .view4 .label1-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view4 .label1-layout-container > * {
  pointer-events      : auto;
}
.jejum .view4 .vector2 {
  background-color    : rgba(255,255,255,0.0);
  height              : 18px;
  width               : 18px;
  margin-top          : -6px;
  position            : relative;
  margin-bottom       : 6px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view4 .vector2-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view4 .vector2-layout-container > * {
  pointer-events      : auto;
}
.jejum .view4 .vector2 .shape {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 18px;
  width               : 18px;
  transform           : rotate(0deg);
  opacity             : 1.0;
}
.jejum .view4 .vector2 .shape-layout-container {
  pointer-events      : none;
  flex-direction      : column;
  top                 : 0;
  align-items         : center;
  height              : 100%;
  width               : 100%;
  justify-content     : center;
  position            : absolute;
  margin              : 0;
  display             : flex;
  left                : 0;
}
.jejum .view4 .vector2 .shape-layout-container > * {
  pointer-events      : auto;
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
.anima-component-wrapper,
.anima-component-wrapper * {
  pointer-events      : none;
}
.anima-component-wrapper a *,
.anima-component-wrapper a,
.anima-component-wrapper input,
.anima-component-wrapper video,
.anima-component-wrapper iframe,
.anima-listeners-active,
.anima-listeners-active * {
  pointer-events      : auto;
}
.anima-hidden,
.anima-hidden * {
  visibility          : hidden;
  pointer-events      : none;
}
.anima-smart-layers-pointers,
.anima-smart-layers-pointers * {
  pointer-events      : auto;
  visibility          : visible;
}
.anima-component-wrapper.anima-not-ready,
.anima-component-wrapper.anima-not-ready * {
  visibility          : hidden !important;
}
.anima-listeners-active-click,
.anima-listeners-active-click * {
  cursor              : pointer;
}
.anima-word-break {
  overflow-wrap       : break-word;
  word-wrap           : break-word;
  word-break          : break-all;
  word-break          : break-word;
}